

@{
    ViewData["Title"] = "Program et Action";
    Layout = "Simple";
}

<div>
    <h1>School : @Model.UniqueId</h1>
    <h2>Name : @Model.Nombre</h2>
    <p> <strong>Año Fundación: @Model.AnoDeCreacion</strong> </p>

    <p><em> @ViewBag.Information </em></p>
</div>